@use 'variables';

.desktop, .tablet, .phone{
.btn {
    &-primary{
        background-color: var(--color-primary);
        border-radius: 50%;
        height: 86px;
        width: 86px;
        padding: 20px;
        &:hover {
            background-color: black;
            border-color: black;
        }

    & img {
        height: auto;
        width: auto;
    }
    }
}  
} 
