@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
/* ===================================================================== */
/*  The following CSS was created using Theme Editor.                    */
/*  To modify this CSS, click "Open Theme Editor".                       */
/* ===================================================================== */
/* ===================================================================== */
/*  Root - CSS Variables                                                 */
/* ===================================================================== */
:root {
  /* Color - Brand */
  --color-primary: #864cff;
  --color-secondary: #864cff;
  --color-primary-hover: #6439bf;
  --color-primary-selected: rgba(134, 76, 255, .12);
  /* Dark Theme */
  --background-dark-theme: rgba(255, 255, 255, .1);
  --background-dark-theme-hover: rgba(255, 255, 255, .2);
  --color-error: #ff5757;
}

.main {
  background-color: var(--color-neutral-2);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}
.content-middle {
  background-color: var(--color-neutral-0);
  width: 100%;
  max-width: 680px;
  border-radius: 24px 24px 110px 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: var(--space-xxl);
}
.phone .content-middle, .tablet .content-middle {
  padding: var(--space-xxl) var(--space-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.ThemeGrid_Container {
  width: 100%;
  max-width: none;
  padding: 0 20px;
}

.layout .main-content.ThemeGrid_Container {
  justify-items: center;
  align-content: center;
}

.btn-primary {
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 86px;
  width: 86px;
  padding: 20px;
}
.btn-primary:hover {
  background-color: black;
  border-color: black;
}
.btn-primary img {
  height: auto;
  width: auto;
}
.tablet .btn-primary, .phone .btn-primary {
  height: 50px;
  width: 50px;
  padding: 12px;
}
.tablet .btn-primary img, .phone .btn-primary img {
  height: 42px;
  width: 42px;
}

span.validation-message {
  color: var(--color-error);
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

input.not-valid {
  border-color: var(--color-error);
}

.date-inputs:has(.not-valid) > span:first-of-type {
  color: var(--color-error);
}

body {
  font-family: "Poppins", sans-serif;
}

.date-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}
.date-inputs > span:first-of-type {
  color: var(--color-neutral-7);
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: var(--font-size-label);
}
.date-container {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);
}

.container-divider__button {
  grid-area: 1/1;
  width: 100%;
  z-index: 1;
}
.container-divider__wrapper {
  display: grid;
  align-items: center;
}
.container__submit-button {
  grid-area: 1/1;
  justify-self: end;
  z-index: 2;
}
.phone .container__submit-button, .tablet .container__submit-button {
  justify-self: center;
}

.divider__one {
  border-bottom: 1px solid var(--color-neutral-3);
  width: 100%;
}
.divider__two {
  border-top: 0px solid var(--color-neutral-5);
  width: 100%;
}

.input-number {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.result {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  font-style: italic;
  font-weight: bolder;
  line-height: 1.2;
}
.result__number {
  color: var(--color-primary);
}
.result__years, .result__months, .result__days {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--space-s);
}

input[type=number] {
  /* Changes the blinking cursor color */
  caret-color: var(--color-primary);
}
input[type=number]::-moz-placeholder {
  color: var(--color-neutral-5);
  font-weight: bold;
}
input[type=number]::placeholder {
  color: var(--color-neutral-5);
  font-weight: bold;
}

.form-control[data-input] {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 115px;
  padding: 10px var(--space-base);
  font-size: var(--font-size-h5);
  font-weight: bold;
  border-color: var(--color-neutral-3);
}
.form-control[data-input]::-moz-placeholder {
  color: var(--color-neutral-5);
  font-weight: bold;
  opacity: 1;
}
.form-control[data-input]::placeholder {
  color: var(--color-neutral-5);
  font-weight: bold;
  opacity: 1;
}
.form-control[data-input]:focus {
  border-color: var(--color-primary);
  outline: none;
}/*# sourceMappingURL=style.css.map */